---
import Main from '@/layouts/main.astro';
import { OrdersWaitingSellerPage } from '@/components/OrdersWaitingSellerPage';

const template = {
  title: "Commandes en attente du vendeur - Dashboard - Open Market",
};
---

<Main content={template}>
  <OrdersWaitingSellerPage client:load />
</Main>

