---
import Seller from '@/layouts/dashboard/seller.astro';
import { ProductListingOnline } from '@/components/ProductListingOnline';
import { Button } from '@/components/ui/button';
const template = {
  title: "Articles en ligne - Dashboard - Open Market",
};
---

<Seller title={template.title} pageTitle="Articles en ligne">
  <header>
    <Button asChild>
      <a href="/dashboard/products/new">
        Ajouter un produit
      </a>
    </Button>
  </header>
  <ProductListingOnline client:load />
</Seller>

