---
import '../../styles/global.css';
import { ProductsOnlinePage } from '../../components/ProductsOnlinePage';
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Articles en ligne - Open Market</title>
	</head>
	<body>
		<ProductsOnlinePage client:load />
	</body>
</html>
