---
import Seller from '@/layouts/dashboard/seller.astro';
import { ProductsDataTable } from '@/components/products/ProductsDataTable';
import { Button } from '@/components/ui/button';
const template = {
  title: "Mes Produits - Dashboard - Open Market",
};
---

<Seller title={template.title} pageTitle="Mes Produits">
  <header class="mb-6">
    <Button asChild>
      <a href="/dashboard/products/new">
        Ajouter un produit
      </a>
    </Button>
  </header>
  <ProductsDataTable client:load />
</Seller>

