---
import { ProductsOnlinePage } from '../../components/ProductsOnlinePage';
import Main from '@/layouts/main.astro';
---

<Main content={{ title: "Articles en ligne - Dashboard - Open Market" }}>
  <ProductsOnlinePage client:load />
</Main>
