---
import Main from '@/layouts/main.astro';
import { ProfileFormPage } from '@/components/ProfileFormPage';

const template = {
  title: "Mon profil - Dashboard - Open Market",
};
---

<Main content={template}>
  <ProfileFormPage client:load />
</Main>


