---
import { Cart } from '@/components/Cart';
import Main from '@/layouts/main.astro';

const template = {
  title: "Mon panier - Open Market",
};
---

<Main content={template}>
  <div class="container mx-auto px-4 py-8">
    <Cart client:load />
  </div>
</Main>

