---
import { OrderHistory } from '@/components/OrderHistory';
import Main from '@/layouts/main.astro';

const template = {
  title: "Mes commandes - Open Market",
};
---

<Main content={template}>
  <div class="container mx-auto px-4 py-8">
    <OrderHistory client:load />
  </div>
</Main>

